<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Tigitale Icons</h1>

    <h2>Biblioteca de ícones da tigitale</h2>

    <ti-icons name="360"></ti-icons>
    <ti-icons name="advertisement"></ti-icons>
    <ti-icons name="advertisement"></ti-icons>
    <ti-icons name="airplay"></ti-icons>
    <ti-icons name="alarm"></ti-icons>
    <ti-icons name="alarm-checked"></ti-icons>
    <ti-icons name="alarm-minus"></ti-icons>
    <ti-icons name="alarm-no"></ti-icons>
    <ti-icons name="alarm-plus"></ti-icons>
    <ti-icons name="alarm-snooze"></ti-icons>
    <ti-icons name="alert-circle"></ti-icons>

    <ti-icons name="alert-octagon"></ti-icons>
    <ti-icons name="alert-triangle"></ti-icons>
    <ti-icons name="app-notification"></ti-icons>
    <ti-icons name="arrow-bottom"></ti-icons>
    <ti-icons name="arrow-bottom-left"></ti-icons>
    <ti-icons name="arrow-bottom-right"></ti-icons>
    <ti-icons name="arrow-forward"></ti-icons>
    <ti-icons name="arrow-forward-all"></ti-icons>
    <ti-icons name="arrow-left"></ti-icons>
    <ti-icons name="arrow-left-curved"></ti-icons>

    <ti-icons name="arrow-redo"></ti-icons>
    <ti-icons name="arrow-reply"></ti-icons>
    <ti-icons name="arrow-reply-all"></ti-icons>
    <ti-icons name="arrow-right"></ti-icons>
    <ti-icons name="arrow-right-curved"></ti-icons>
    <ti-icons name="arrows-diagonals"></ti-icons>
    <ti-icons name="arrows-diagonals-bltr"></ti-icons>
    <ti-icons name="arrows-diagonals-tlbr"></ti-icons>
    <ti-icons name="arrows-hv"></ti-icons>
    <ti-icons name="arrow-top"></ti-icons>

    <ti-icons name="arrow-top-left"></ti-icons>
    <ti-icons name="arrow-top-right"></ti-icons>
    <ti-icons name="arrow-undo"></ti-icons>
    <ti-icons name="user"></ti-icons>
    <ti-icons name="video"></ti-icons>
    <ti-icons name="settings"></ti-icons>
    <ti-icons name="clipboard-text"></ti-icons>
    <ti-icons name="calendar-dates"></ti-icons>
    <ti-icons name="home"></ti-icons>
    <ti-icons name="search"></ti-icons>

    <ti-icons name="bell"></ti-icons>
    <ti-icons name="pin"></ti-icons>
  </body>
</html>
