<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <h1>Tigitale Icons</h1>

    <h2>Biblioteca de ícones da tigitale</h2>
    <!--
    <ti-icons name="360"></ti-icons>
    <ti-icons name="advertisement"></ti-icons>
    <ti-icons name="airplay"></ti-icons>
    <ti-icons name="alarm-checked"></ti-icons>
    <ti-icons name="alarm-minus"></ti-icons>
    <ti-icons name="alarm-no"></ti-icons>
    <ti-icons name="alarm-plus"></ti-icons>
    <ti-icons name="alarm-snooze"></ti-icons>
    <ti-icons name="alarm"></ti-icons>
    <ti-icons name="alert-circle"></ti-icons>
    <ti-icons name="alert-octagon"></ti-icons>
    <ti-icons name="alert-triangle"></ti-icons>
    <ti-icons name="app-notification"></ti-icons>
    <ti-icons name="arrow-bottom-left"></ti-icons>
    <ti-icons name="arrow-bottom-right"></ti-icons>
    <ti-icons name="arrow-bottom"></ti-icons>
    <ti-icons name="arrow-forward-all"></ti-icons>
    <ti-icons name="arrow-forward"></ti-icons>
    <ti-icons name="arrow-left-curved"></ti-icons>
    <ti-icons name="arrow-left"></ti-icons>
    <ti-icons name="arrow-redo"></ti-icons>
    <ti-icons name="arrow-reply-all"></ti-icons>
    <ti-icons name="arrow-reply"></ti-icons>
    <ti-icons name="arrow-right-curved"></ti-icons>
    <ti-icons name="arrow-right"></ti-icons>
    <ti-icons name="arrow-top-left"></ti-icons>
    <ti-icons name="arrow-top-right"></ti-icons>
    <ti-icons name="arrow-top"></ti-icons>
    <ti-icons name="arrow-undo"></ti-icons>
    <ti-icons name="arrows-diagonals-bltr"></ti-icons>
    <ti-icons name="arrows-diagonals-tlbr"></ti-icons>
    <ti-icons name="arrows-diagonals"></ti-icons>
    <ti-icons name="arrows-hv"></ti-icons>
    <ti-icons name="at-sign"></ti-icons>
    <ti-icons name="bar-chart"></ti-icons>
    <ti-icons name="battery-100"></ti-icons>
    <ti-icons name="battery-20"></ti-icons>
    <ti-icons name="battery-40"></ti-icons>
    <ti-icons name="battery-60"></ti-icons>
    <ti-icons name="battery-80"></ti-icons>
    <ti-icons name="battery-charching"></ti-icons>
    <ti-icons name="battery-no"></ti-icons>
    <ti-icons name="battery"></ti-icons>
    <ti-icons name="bell-checked"></ti-icons>
    <ti-icons name="bell-no"></ti-icons>
    <ti-icons name="bell"></ti-icons>
    <ti-icons name="bluetooth-no"></ti-icons>
    <ti-icons name="bluetooth"></ti-icons>
    <ti-icons name="book"></ti-icons>
    <ti-icons name="bookmark-add"></ti-icons>
    <ti-icons name="bookmark-no"></ti-icons>
    <ti-icons name="bookmark"></ti-icons>
    <ti-icons name="bookmarks"></ti-icons>
    <ti-icons name="box"></ti-icons>
    <ti-icons name="brightness-high"></ti-icons>
    <ti-icons name="brightness-low"></ti-icons>
    <ti-icons name="broadcast"></ti-icons>
    <ti-icons name="broadcasting"></ti-icons>
    <ti-icons name="browser-no"></ti-icons>
    <ti-icons name="browser"></ti-icons>
    <ti-icons name="calculator"></ti-icons>
    <ti-icons name="calendar-checked"></ti-icons>
    <ti-icons name="calendar-create"></ti-icons>
    <ti-icons name="calendar-dates"></ti-icons>
    <ti-icons name="calendar-delete"></ti-icons>
    <ti-icons name="calendar-minus"></ti-icons>
    <ti-icons name="calendar-plus"></ti-icons>
    <ti-icons name="calendar"></ti-icons>
    <ti-icons name="call-add"></ti-icons>
    <ti-icons name="call-calling"></ti-icons>
    <ti-icons name="call-decline"></ti-icons>
    <ti-icons name="call-end"></ti-icons>
    <ti-icons name="call-forwarded"></ti-icons>
    <ti-icons name="call-hash"></ti-icons>
    <ti-icons name="call-hold"></ti-icons>
    <ti-icons name="call-incoming"></ti-icons>
    <ti-icons name="call-missed"></ti-icons>
    <ti-icons name="call-muted"></ti-icons>
    <ti-icons name="call-no"></ti-icons>
    <ti-icons name="call-numbers"></ti-icons>
    <ti-icons name="call-outcoming"></ti-icons>
    <ti-icons name="call-phone"></ti-icons>
    <ti-icons name="call-recieved"></ti-icons>
    <ti-icons name="call-voicemail"></ti-icons>
    <ti-icons name="camera-create"></ti-icons>
    <ti-icons name="camera-no"></ti-icons>
    <ti-icons name="camera"></ti-icons>
    <ti-icons name="case"></ti-icons>
    <ti-icons name="cast"></ti-icons>
    <ti-icons name="check-mark"></ti-icons>
    <ti-icons name="check-marks"></ti-icons>
    <ti-icons name="chevron-bottom"></ti-icons>
    <ti-icons name="chevron-left"></ti-icons>
    <ti-icons name="chevron-right"></ti-icons>
    <ti-icons name="chevron-top"></ti-icons>
    <ti-icons name="chevrons-bottom"></ti-icons>
    <ti-icons name="chevrons-left"></ti-icons>
    <ti-icons name="chevrons-right"></ti-icons>
    <ti-icons name="chevrons-top"></ti-icons>
    <ti-icons name="circle-arrow-bottom-left"></ti-icons>
    <ti-icons name="circle-arrow-bottom-right"></ti-icons>
    <ti-icons name="circle-arrow-bottom"></ti-icons>
    <ti-icons name="circle-arrow-left-curved"></ti-icons>
    <ti-icons name="circle-arrow-left"></ti-icons>
    <ti-icons name="circle-arrow-right-curved"></ti-icons>
    <ti-icons name="circle-arrow-right"></ti-icons>
    <ti-icons name="circle-arrow-top-left"></ti-icons>
    <ti-icons name="circle-arrow-top-right"></ti-icons>
    <ti-icons name="circle-arrow-top"></ti-icons>
    <ti-icons name="circle-block"></ti-icons>
    <ti-icons name="circle-checked"></ti-icons>
    <ti-icons name="circle-chevron-bottom"></ti-icons>
    <ti-icons name="circle-chevron-left"></ti-icons>
    <ti-icons name="circle-chevron-right"></ti-icons>
    <ti-icons name="circle-chevron-top"></ti-icons>
    <ti-icons name="circle-menu"></ti-icons>
    <ti-icons name="circle-minus"></ti-icons>
    <ti-icons name="circle-more-horizontal"></ti-icons>
    <ti-icons name="circle-more-vertical"></ti-icons>
    <ti-icons name="circle-plus"></ti-icons>
    <ti-icons name="circle-star"></ti-icons>
    <ti-icons name="circle-x"></ti-icons>
    <ti-icons name="circle"></ti-icons>
    <ti-icons name="clear-style"></ti-icons>
    <ti-icons name="clipboard-checked"></ti-icons>
    <ti-icons name="clipboard-delete"></ti-icons>
    <ti-icons name="clipboard-minus"></ti-icons>
    <ti-icons name="clipboard-plus"></ti-icons>
    <ti-icons name="clipboard-text"></ti-icons>
    <ti-icons name="clipboard"></ti-icons>
    <ti-icons name="cloud-checked"></ti-icons>
    <ti-icons name="cloud-download"></ti-icons>
    <ti-icons name="cloud-no"></ti-icons>
    <ti-icons name="cloud-upload"></ti-icons>
    <ti-icons name="cloud"></ti-icons>
    <ti-icons name="command"></ti-icons>
    <ti-icons name="comment-checked"></ti-icons>
    <ti-icons name="comment-delete"></ti-icons>
    <ti-icons name="comment-minus"></ti-icons>
    <ti-icons name="comment-plus"></ti-icons>
    <ti-icons name="comment-text"></ti-icons>
    <ti-icons name="comment"></ti-icons>
    <ti-icons name="compas"></ti-icons>
    <ti-icons name="copy"></ti-icons>
    <ti-icons name="creditcard-add"></ti-icons>
    <ti-icons name="creditcard-face"></ti-icons>
    <ti-icons name="creditcard-income"></ti-icons>
    <ti-icons name="creditcard-no"></ti-icons>
    <ti-icons name="creditcard-outcome"></ti-icons>
    <ti-icons name="creditcard-scan"></ti-icons>
    <ti-icons name="creditcard"></ti-icons>
    <ti-icons name="cross"></ti-icons>
    <ti-icons name="crosshairs"></ti-icons>
    <ti-icons name="cut"></ti-icons>
    <ti-icons name="dashboard"></ti-icons>
    <ti-icons name="delete"></ti-icons>
    <ti-icons name="devices"></ti-icons>
    <ti-icons name="download"></ti-icons>
    <ti-icons name="drop"></ti-icons>
    <ti-icons name="eject"></ti-icons>
    <ti-icons name="external-link"></ti-icons>
    <ti-icons name="eye-no"></ti-icons>
    <ti-icons name="eye"></ti-icons>
    <ti-icons name="file-checked"></ti-icons>
    <ti-icons name="file-code"></ti-icons>
    <ti-icons name="file-create"></ti-icons>
    <ti-icons name="file-delete"></ti-icons>
    <ti-icons name="file-download"></ti-icons>
    <ti-icons name="file-draft"></ti-icons>
    <ti-icons name="file-minus"></ti-icons>
    <ti-icons name="file-plus"></ti-icons>
    <ti-icons name="file-scan"></ti-icons>
    <ti-icons name="file-shredder"></ti-icons>
    <ti-icons name="file-text"></ti-icons>
    <ti-icons name="file-upload"></ti-icons>
    <ti-icons name="file"></ti-icons>
    <ti-icons name="flame"></ti-icons>
    <ti-icons name="flash-card"></ti-icons>
    <ti-icons name="floppy"></ti-icons>
    <ti-icons name="folder-arrow"></ti-icons>
    <ti-icons name="folder-checked"></ti-icons>
    <ti-icons name="folder-cloud"></ti-icons>
    <ti-icons name="folder-delete"></ti-icons>
    <ti-icons name="folder-minus"></ti-icons>
    <ti-icons name="folder-opened"></ti-icons>
    <ti-icons name="folder-photo"></ti-icons>
    <ti-icons name="folder-plus"></ti-icons>
    <ti-icons name="folder"></ti-icons>
    <ti-icons name="form"></ti-icons>
    <ti-icons name="globe-no"></ti-icons>
    <ti-icons name="globe"></ti-icons>
    <ti-icons name="hash"></ti-icons>
    <ti-icons name="heart-no"></ti-icons>
    <ti-icons name="heart"></ti-icons>
    <ti-icons name="home"></ti-icons>
    <ti-icons name="iPad"></ti-icons>
    <ti-icons name="iPhone"></ti-icons>
    <ti-icons name="image"></ti-icons>
    <ti-icons name="inbox"></ti-icons>
    <ti-icons name="info"></ti-icons>
    <ti-icons name="items"></ti-icons>
    <ti-icons name="key-no"></ti-icons>
    <ti-icons name="key"></ti-icons>
    <ti-icons name="laptop"></ti-icons>
    <ti-icons name="layers"></ti-icons>
    <ti-icons name="lightbulb"></ti-icons>
    <ti-icons name="lightning-no"></ti-icons>
    <ti-icons name="lightning"></ti-icons>
    <ti-icons name="link-no"></ti-icons>
    <ti-icons name="link"></ti-icons>
    <ti-icons name="list"></ti-icons>
    <ti-icons name="location-no"></ti-icons>
    <ti-icons name="location"></ti-icons>
    <ti-icons name="lock-circle"></ti-icons>
    <ti-icons name="lock-no"></ti-icons>
    <ti-icons name="lock"></ti-icons>
    <ti-icons name="mail"></ti-icons>
    <ti-icons name="map"></ti-icons>
    <ti-icons name="maximize"></ti-icons>
    <ti-icons name="memory-card"></ti-icons>
    <ti-icons name="menu-dots"></ti-icons>
    <ti-icons name="menu"></ti-icons>
    <ti-icons name="mic-no"></ti-icons>
    <ti-icons name="mic"></ti-icons>
    <ti-icons name="minimize"></ti-icons>
    <ti-icons name="minus-octagon"></ti-icons>
    <ti-icons name="minus"></ti-icons>
    <ti-icons name="mobile"></ti-icons>
    <ti-icons name="monitor"></ti-icons>
    <ti-icons name="moon"></ti-icons>
    <ti-icons name="more-horizontal"></ti-icons>
    <ti-icons name="more-vertical"></ti-icons>
    <ti-icons name="newspaper"></ti-icons>
    <ti-icons name="note-text"></ti-icons>
    <ti-icons name="note"></ti-icons>
    <ti-icons name="options"></ti-icons>
    <ti-icons name="panorama"></ti-icons>
    <ti-icons name="paperclip-no"></ti-icons>
    <ti-icons name="paperclip"></ti-icons>
    <ti-icons name="pencil-create"></ti-icons>
    <ti-icons name="pencil-edit"></ti-icons>
    <ti-icons name="pin-add"></ti-icons>
    <ti-icons name="pin-no"></ti-icons>
    <ti-icons name="pin-question"></ti-icons>
    <ti-icons name="pin-start"></ti-icons>
    <ti-icons name="pin"></ti-icons>
    <ti-icons name="player-fast-back"></ti-icons>
    <ti-icons name="player-fast-forward"></ti-icons>
    <ti-icons name="player-pause"></ti-icons>
    <ti-icons name="player-play-pause"></ti-icons>
    <ti-icons name="player-play"></ti-icons>
    <ti-icons name="player-skip-back"></ti-icons>
    <ti-icons name="player-skip-forward"></ti-icons>
    <ti-icons name="player-stop"></ti-icons>
    <ti-icons name="plus"></ti-icons>
    <ti-icons name="pocket"></ti-icons>
    <ti-icons name="presentation"></ti-icons>
    <ti-icons name="printer"></ti-icons>
    <ti-icons name="pulse"></ti-icons>
    <ti-icons name="question-circle"></ti-icons>
    <ti-icons name="question"></ti-icons>
    <ti-icons name="radar"></ti-icons>
    <ti-icons name="record"></ti-icons>
    <ti-icons name="refresh-ccw-alert"></ti-icons>
    <ti-icons name="refresh-ccw"></ti-icons>
    <ti-icons name="refresh-cw-alert"></ti-icons>
    <ti-icons name="refresh-cw"></ti-icons>
    <ti-icons name="rotate-ccw"></ti-icons>
    <ti-icons name="rotate-cw"></ti-icons>
    <ti-icons name="scan"></ti-icons>
    <ti-icons name="screenshot"></ti-icons>
    <ti-icons name="search"></ti-icons>
    <ti-icons name="send"></ti-icons>
    <ti-icons name="server"></ti-icons>
    <ti-icons name="settings"></ti-icons>
    <ti-icons name="share-arrow"></ti-icons>
    <ti-icons name="share"></ti-icons>
    <ti-icons name="shield-lock"></ti-icons>
    <ti-icons name="shield-no"></ti-icons>
    <ti-icons name="shield-ok"></ti-icons>
    <ti-icons name="shield"></ti-icons>
    <ti-icons name="star-no"></ti-icons>
    <ti-icons name="star"></ti-icons>
    <ti-icons name="sticker"></ti-icons>
    <ti-icons name="stopwatch"></ti-icons>
    <ti-icons name="sun"></ti-icons>
    <ti-icons name="table"></ti-icons>
    <ti-icons name="text-align-center"></ti-icons>
    <ti-icons name="text-align-justify"></ti-icons>
    <ti-icons name="text-align-left"></ti-icons>
    <ti-icons name="text-align-right"></ti-icons>
    <ti-icons name="text-bgcolor"></ti-icons>
    <ti-icons name="text-bold"></ti-icons>
    <ti-icons name="text-color"></ti-icons>
    <ti-icons name="text-italic"></ti-icons>
    <ti-icons name="text-underline"></ti-icons>
    <ti-icons name="thumbs-down"></ti-icons>
    <ti-icons name="thumbs-up"></ti-icons>
    <ti-icons name="time-history"></ti-icons>
    <ti-icons name="time"></ti-icons>
    <ti-icons name="timer"></ti-icons>
    <ti-icons name="toggle-left"></ti-icons>
    <ti-icons name="toggle-right"></ti-icons>
    <ti-icons name="trash-empty"></ti-icons>
    <ti-icons name="trash"></ti-icons>
    <ti-icons name="unlock"></ti-icons>
    <ti-icons name="user"></ti-icons>
    <ti-icons name="video-no"></ti-icons>
    <ti-icons name="video"></ti-icons>
    <ti-icons name="volume-high"></ti-icons>
    <ti-icons name="volume-low"></ti-icons>
    <ti-icons name="volume-no"></ti-icons>
    <ti-icons name="volume-off"></ti-icons>
    <ti-icons name="volume"></ti-icons>
    <ti-icons name="wi-fi-no"></ti-icons>
    <ti-icons name="wi-fi"></ti-icons>
    <ti-icons name="x-octagon"></ti-icons>
    <ti-icons name="zoom-in"></ti-icons>
    <ti-icons name="zoom-out'"></ti-icons>
    -->
    <ti-icons name="360"></ti-icons>
    <ti-icons name="advertisement"></ti-icons>
    <ti-icons name="airplay"></ti-icons>
    <ti-icons name="alarm-checked"></ti-icons>
    <ti-icons name="alarm-minus"></ti-icons>
    <ti-icons name="alarm-no"></ti-icons>
    <ti-icons name="alarm-plus"></ti-icons>
    <ti-icons name="alarm-snooze"></ti-icons>
    <ti-icons name="alarm"></ti-icons>
    <ti-icons name="alert-circle"></ti-icons>
    <ti-icons name="alert-octagon"></ti-icons>
    <ti-icons name="alert-triangle"></ti-icons>
    <ti-icons name="app-notification"></ti-icons>
    <ti-icons name="arrow-bottom-left"></ti-icons>
    <ti-icons name="arrow-bottom-right"></ti-icons>
    <ti-icons name="arrow-bottom"></ti-icons>
    <ti-icons name="arrow-forward-all"></ti-icons>
    <ti-icons name="arrow-forward"></ti-icons>
    <ti-icons name="arrow-left-curved"></ti-icons>
    <ti-icons name="arrow-left"></ti-icons>
    <ti-icons name="arrow-redo"></ti-icons>
    <ti-icons name="arrow-reply-all"></ti-icons>
    <ti-icons name="arrow-reply"></ti-icons>
    <ti-icons name="arrow-right-curved"></ti-icons>
    <ti-icons name="arrow-right"></ti-icons>
    <ti-icons name="arrow-top-left"></ti-icons>
    <ti-icons name="arrow-top-right"></ti-icons>
    <ti-icons name="arrow-top"></ti-icons>
    <ti-icons name="arrow-undo"></ti-icons>
    <ti-icons name="arrows-diagonals-bltr"></ti-icons>
    <ti-icons name="arrows-diagonals-tlbr"></ti-icons>
    <ti-icons name="arrows-diagonals"></ti-icons>
    <ti-icons name="arrows-hv"></ti-icons>

    <ti-icons name="at-sign"></ti-icons>
    <ti-icons name="bar-chart"></ti-icons>
    <ti-icons name="battery-100"></ti-icons>
    <ti-icons name="battery-20"></ti-icons>
    <ti-icons name="battery-40"></ti-icons>
    <ti-icons name="battery-60"></ti-icons>
    <ti-icons name="battery-80"></ti-icons>
    <ti-icons name="battery-charching"></ti-icons>
    <ti-icons name="battery-no"></ti-icons>
    <ti-icons name="battery"></ti-icons>
    <ti-icons name="bell-checked"></ti-icons>
    <ti-icons name="bell-no"></ti-icons>
    <ti-icons name="bell"></ti-icons>
    <ti-icons name="bluetooth-no"></ti-icons>
    <ti-icons name="bluetooth"></ti-icons>
    <ti-icons name="book"></ti-icons>
    <ti-icons name="bookmark-add"></ti-icons>
    <ti-icons name="bookmark-no"></ti-icons>
    <ti-icons name="bookmark"></ti-icons>
    <ti-icons name="bookmarks"></ti-icons>
    <ti-icons name="box"></ti-icons>
    <ti-icons name="brightness-high"></ti-icons>
    <ti-icons name="brightness-low"></ti-icons>
    <ti-icons name="broadcast"></ti-icons>
    <ti-icons name="broadcasting"></ti-icons>
    <ti-icons name="browser-no"></ti-icons>
    <ti-icons name="browser"></ti-icons>

    <ti-icons name="calculator"></ti-icons>
    <ti-icons name="calendar-checked"></ti-icons>
    <ti-icons name="calendar-create"></ti-icons>
    <ti-icons name="calendar-dates"></ti-icons>
    <ti-icons name="calendar-delete"></ti-icons>
    <ti-icons name="calendar-minus"></ti-icons>
    <ti-icons name="calendar-plus"></ti-icons>
    <ti-icons name="calendar"></ti-icons>
    <ti-icons name="call-add"></ti-icons>
    <ti-icons name="call-calling"></ti-icons>
    <ti-icons name="call-decline"></ti-icons>
    <ti-icons name="call-end"></ti-icons>
    <ti-icons name="call-forwarded"></ti-icons>
    <ti-icons name="call-hash"></ti-icons>
    <ti-icons name="call-hold"></ti-icons>
    <ti-icons name="call-incoming"></ti-icons>
    <ti-icons name="call-missed"></ti-icons>
    <ti-icons name="call-muted"></ti-icons>
    <ti-icons name="call-no"></ti-icons>
    <ti-icons name="call-numbers"></ti-icons>
    <ti-icons name="call-outcoming"></ti-icons>
    <ti-icons name="call-phone"></ti-icons>
    <ti-icons name="call-recieved"></ti-icons>
    <ti-icons name="call-voicemail"></ti-icons>
    <ti-icons name="camera-create"></ti-icons>
    <ti-icons name="camera-no"></ti-icons>
    <ti-icons name="camera"></ti-icons>
    <ti-icons name="case"></ti-icons>
    <ti-icons name="cast"></ti-icons>
    <ti-icons name="check-mark"></ti-icons>
    <ti-icons name="check-marks"></ti-icons>
    <ti-icons name="chevron-bottom"></ti-icons>
    <ti-icons name="chevron-left"></ti-icons>
    <ti-icons name="chevron-right"></ti-icons>
    <ti-icons name="chevron-top"></ti-icons>
    <ti-icons name="chevrons-bottom"></ti-icons>
    <ti-icons name="chevrons-left"></ti-icons>
    <ti-icons name="chevrons-right"></ti-icons>
    <ti-icons name="chevrons-top"></ti-icons>
    <ti-icons name="circle-arrow-bottom-left"></ti-icons>
    <ti-icons name="circle-arrow-bottom-right"></ti-icons>
    <ti-icons name="circle-arrow-bottom"></ti-icons>
    <ti-icons name="circle-arrow-left-curved"></ti-icons>
    <ti-icons name="circle-arrow-left"></ti-icons>
    <ti-icons name="circle-arrow-right-curved"></ti-icons>
    <ti-icons name="circle-arrow-right"></ti-icons>
    <ti-icons name="circle-arrow-top-left"></ti-icons>
    <ti-icons name="circle-arrow-top-right"></ti-icons>
    <ti-icons name="circle-arrow-top"></ti-icons>
    <ti-icons name="circle-block"></ti-icons>
    <ti-icons name="circle-checked"></ti-icons>
    <ti-icons name="circle-chevron-bottom"></ti-icons>
    <ti-icons name="circle-chevron-left"></ti-icons>
    <ti-icons name="circle-chevron-right"></ti-icons>
    <ti-icons name="circle-chevron-top"></ti-icons>
    <ti-icons name="circle-menu"></ti-icons>
    <ti-icons name="circle-minus"></ti-icons>
    <ti-icons name="circle-more-horizontal"></ti-icons>
    <ti-icons name="circle-more-vertical"></ti-icons>
    <ti-icons name="circle-plus"></ti-icons>
    <ti-icons name="circle-star"></ti-icons>
    <ti-icons name="circle-x"></ti-icons>
    <ti-icons name="circle"></ti-icons>
    <ti-icons name="clear-style"></ti-icons>
    <ti-icons name="clipboard-checked"></ti-icons>
    <ti-icons name="clipboard-delete"></ti-icons>
    <ti-icons name="clipboard-minus"></ti-icons>
    <ti-icons name="clipboard-plus"></ti-icons>
    <ti-icons name="clipboard-text"></ti-icons>
    <ti-icons name="clipboard"></ti-icons>
    <ti-icons name="cloud-checked"></ti-icons>
    <ti-icons name="cloud-download"></ti-icons>
    <ti-icons name="cloud-no"></ti-icons>
    <ti-icons name="cloud-upload"></ti-icons>
    <ti-icons name="cloud"></ti-icons>

    <ti-icons name="comment-checked"></ti-icons>
    <ti-icons name="comment-delete"></ti-icons>
    <ti-icons name="comment-minus"></ti-icons>
    <ti-icons name="comment-plus"></ti-icons>
    <ti-icons name="comment-text"></ti-icons>
    <ti-icons name="comment"></ti-icons>
    <ti-icons name="command"></ti-icons>

    </body>
</html>
