h1 {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-block-end: 0px;
}

h2 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}